
body {
    margin: 10px;
}

main {
    padding-left: 230px;
}

.configuração {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid black;
}
.opçoes {
    display: flex;
    flex-direction:column-reverse
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.texto {
    display: flex;
}