
  
  .container {
    display: flex;
  }
  
  p {
    font-style: italic;
    font-size: small;
    padding: 20px;
  }

  ul {
      list-style: none;
  }

  nav {
    display: none;
  }


  /* pequeno  320x568 IPHONE SE */

  @media screen and (max-width: 320px) { 
    * {
        margin: 5px;
        padding: 3px;
    }
    body {  
         background-color: lightcyan;
         font-size: small;
     }
    
    p {
        font-size: 15px;
        font-style:italic;
        padding: 5px;
    }

     h1 {
         font-size: 10px;
     }

     .container {
         flex-direction: column;
     }

     footer {
         padding: 0;
         font-size: 13px;
     }
  
  }
  

  